ServerPhoenix/workflow-with-passwords.json
{
  "name": "ServerPhoenix - Password-Based Migration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "migrate-server",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "migrate-server",
      "notes": "Accepts: {source: {host, user, password}, destination: {host, user, password}}"
    },
    {
      "parameters": {
        "command": "=sshpass -p '{{ $json.source.password }}' ssh -o StrictHostKeyChecking=no {{ $json.source.user }}@{{ $json.source.host }} \"curl -fsSL https://raw.githubusercontent.com/SPeeDoA1/ServerPhoenix/main/ServerPhoenix/scanner.sh | bash -s /tmp/server-inventory.json\"",
        "options": {}
      },
      "id": "scan-source",
      "name": "Scan Source Server",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [420, 300],
      "notes": "Scans source server for all services and apps"
    },
    {
      "parameters": {
        "command": "=sshpass -p '{{ $json.source.password }}' ssh -o StrictHostKeyChecking=no {{ $json.source.user }}@{{ $json.source.host }} \"curl -fsSL https://raw.githubusercontent.com/SPeeDoA1/ServerPhoenix/main/ServerPhoenix/backup.sh | bash -s /tmp/server-inventory.json {{ $json.source.user }}\"",
        "options": {}
      },
      "id": "backup-source",
      "name": "Backup Source Server",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [640, 300],
      "notes": "Creates full backup (may take 5-10 minutes)"
    },
    {
      "parameters": {
        "command": "=sshpass -p '{{ $json.source.password }}' scp -o StrictHostKeyChecking=no {{ $json.source.user }}@{{ $json.source.host }}:/tmp/full-server-backup.tar.gz /tmp/migration-$$.tar.gz && sshpass -p '{{ $json.destination.password }}' scp -o StrictHostKeyChecking=no /tmp/migration-$$.tar.gz {{ $json.destination.user }}@{{ $json.destination.host }}:/tmp/full-server-backup.tar.gz && rm /tmp/migration-$$.tar.gz",
        "options": {}
      },
      "id": "transfer-backup",
      "name": "Transfer Backup",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [860, 300],
      "notes": "Transfers backup from source to destination via n8n server"
    },
    {
      "parameters": {
        "command": "=sshpass -p '{{ $json.destination.password }}' ssh -o StrictHostKeyChecking=no {{ $json.destination.user }}@{{ $json.destination.host }} \"curl -fsSL https://raw.githubusercontent.com/SPeeDoA1/ServerPhoenix/main/ServerPhoenix/restore.sh | sudo -S bash -s /tmp/full-server-backup.tar.gz {{ $json.destination.user }}\"",
        "options": {}
      },
      "id": "restore-destination",
      "name": "Restore to Destination",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1080, 300],
      "notes": "Restores everything to new server (15-20 minutes)"
    },
    {
      "parameters": {
        "command": "=sshpass -p '{{ $json.destination.password }}' ssh -o StrictHostKeyChecking=no {{ $json.destination.user }}@{{ $json.destination.host }} \"systemctl list-units --type=service --state=running --no-pager | head -20 && echo '' && ss -tlnp | head -15\"",
        "options": {}
      },
      "id": "verify-services",
      "name": "Verify Services",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1300, 300],
      "notes": "Checks if all services are running"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  message: 'Migration completed!',\n  source: $json.source.host,\n  destination: $json.destination.host,\n  next_steps: [\n    '1. Update DNS to point to ' + $json.destination.host,\n    '2. Run: sudo certbot --nginx',\n    '3. Test applications'\n  ]\n}) }}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1520, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Scan Source Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Source Server": {
      "main": [
        [
          {
            "node": "Backup Source Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup Source Server": {
      "main": [
        [
          {
            "node": "Transfer Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transfer Backup": {
      "main": [
        [
          {
            "node": "Restore to Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore to Destination": {
      "main": [
        [
          {
            "node": "Verify Services",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Services": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "instanceId": "serverphoenix-passwords"
  },
  "pinData": {}
}
