ServerPhoenix/workflow-fixed.json
{
  "name": "ServerPhoenix - Server Migration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "migrate-server",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "migrate-server"
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "curl -fsSL https://raw.githubusercontent.com/SPeeDoA1/ServerPhoenix/main/ServerPhoenix/scanner.sh | bash -s /tmp/server-inventory.json"
      },
      "id": "scan-source",
      "name": "Scan Source Server",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [420, 300],
      "credentials": {
        "sshPassword": {
          "id": "={{ $json.source.credential }}",
          "name": "={{ $json.source.credential }}"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "curl -fsSL https://raw.githubusercontent.com/SPeeDoA1/ServerPhoenix/main/ServerPhoenix/backup.sh | bash -s /tmp/server-inventory.json {{ $('Webhook').item.json.source.user }}"
      },
      "id": "backup-source",
      "name": "Backup Source Server",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [640, 300],
      "credentials": {
        "sshPassword": {
          "id": "={{ $('Webhook').item.json.source.credential }}",
          "name": "={{ $('Webhook').item.json.source.credential }}"
        }
      }
    },
    {
      "parameters": {
        "operation": "downloadFile",
        "path": "/tmp/full-server-backup.tar.gz",
        "binaryPropertyName": "backup"
      },
      "id": "download-backup",
      "name": "Download Backup",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [860, 300],
      "credentials": {
        "sshPassword": {
          "id": "={{ $('Webhook').item.json.source.credential }}",
          "name": "={{ $('Webhook').item.json.source.credential }}"
        }
      }
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "path": "/tmp/full-server-backup.tar.gz",
        "binaryPropertyName": "backup"
      },
      "id": "upload-backup",
      "name": "Upload to Destination",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1080, 300],
      "credentials": {
        "sshPassword": {
          "id": "={{ $('Webhook').item.json.destination.credential }}",
          "name": "={{ $('Webhook').item.json.destination.credential }}"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "curl -fsSL https://raw.githubusercontent.com/SPeeDoA1/ServerPhoenix/main/ServerPhoenix/restore.sh | sudo bash -s /tmp/full-server-backup.tar.gz {{ $('Webhook').item.json.destination.user }}"
      },
      "id": "restore-destination",
      "name": "Restore to Destination",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1300, 300],
      "credentials": {
        "sshPassword": {
          "id": "={{ $('Webhook').item.json.destination.credential }}",
          "name": "={{ $('Webhook').item.json.destination.credential }}"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "systemctl list-units --type=service --state=running --no-pager | head -20 && echo '' && ss -tlnp | head -15"
      },
      "id": "verify-services",
      "name": "Verify Services",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1520, 300],
      "credentials": {
        "sshPassword": {
          "id": "={{ $('Webhook').item.json.destination.credential }}",
          "name": "={{ $('Webhook').item.json.destination.credential }}"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Migration completed!', source: $('Webhook').item.json.source.host, destination: $('Webhook').item.json.destination.host }) }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1740, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Scan Source Server", "type": "main", "index": 0 }]]
    },
    "Scan Source Server": {
      "main": [[{ "node": "Backup Source Server", "type": "main", "index": 0 }]]
    },
    "Backup Source Server": {
      "main": [[{ "node": "Download Backup", "type": "main", "index": 0 }]]
    },
    "Download Backup": {
      "main": [[{ "node": "Upload to Destination", "type": "main", "index": 0 }]]
    },
    "Upload to Destination": {
      "main": [[{ "node": "Restore to Destination", "type": "main", "index": 0 }]]
    },
    "Restore to Destination": {
      "main": [[{ "node": "Verify Services", "type": "main", "index": 0 }]]
    },
    "Verify Services": {
      "main": [[{ "node": "Success Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "meta": {},
  "pinData": {}
}
