ServerPhoenix/workflow-auto.json
{
  "name": "ServerPhoenix - Fully Automatic Migration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "migrate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "server-migrate"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const { execSync } = require('child_process');\n\nconst source = $input.first().json.source;\nconst cmd = `sshpass -p '${source.password}' ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ${source.user}@${source.host} 'curl -fsSL https://raw.githubusercontent.com/SPeeDoA1/ServerPhoenix/main/ServerPhoenix/scanner.sh | bash -s /tmp/server-inventory.json' 2>&1`;\n\ntry {\n  const output = execSync(cmd, { encoding: 'utf8', timeout: 120000 });\n  return [{ json: { success: true, step: 'scan', output } }];\n} catch (error) {\n  return [{ json: { success: false, step: 'scan', error: error.message } }];\n}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "1. Scan Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const { execSync } = require('child_process');\n\nconst source = $('Webhook').first().json.source;\nconst cmd = `sshpass -p '${source.password}' ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ${source.user}@${source.host} 'curl -fsSL https://raw.githubusercontent.com/SPeeDoA1/ServerPhoenix/main/ServerPhoenix/backup.sh | bash -s /tmp/server-inventory.json ${source.user}' 2>&1`;\n\ntry {\n  const output = execSync(cmd, { encoding: 'utf8', timeout: 600000 });\n  return [{ json: { success: true, step: 'backup', output } }];\n} catch (error) {\n  return [{ json: { success: false, step: 'backup', error: error.message } }];\n}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "2. Backup Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const { execSync } = require('child_process');\n\nconst source = $('Webhook').first().json.source;\nconst cmd = `sshpass -p '${source.password}' scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ${source.user}@${source.host}:/tmp/full-server-backup.tar.gz /tmp/migration-backup-${Date.now()}.tar.gz 2>&1`;\n\ntry {\n  const output = execSync(cmd, { encoding: 'utf8', timeout: 600000 });\n  const backupFile = `/tmp/migration-backup-${Date.now()}.tar.gz`;\n  return [{ json: { success: true, step: 'download', backupFile: '/tmp/migration-backup.tar.gz', output } }];\n} catch (error) {\n  return [{ json: { success: false, step: 'download', error: error.message } }];\n}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "3. Download Backup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const { execSync } = require('child_process');\n\nconst source = $('Webhook').first().json.source;\nconst dest = $('Webhook').first().json.destination;\n\n// First get the actual backup filename\nconst files = execSync('ls -t /tmp/migration-backup-*.tar.gz 2>/dev/null | head -1', { encoding: 'utf8' }).trim();\nconst backupFile = files || '/tmp/migration-backup.tar.gz';\n\nconst cmd = `sshpass -p '${dest.password}' scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ${backupFile} ${dest.user}@${dest.host}:/tmp/full-server-backup.tar.gz 2>&1`;\n\ntry {\n  const output = execSync(cmd, { encoding: 'utf8', timeout: 600000 });\n  return [{ json: { success: true, step: 'upload', output } }];\n} catch (error) {\n  return [{ json: { success: false, step: 'upload', error: error.message } }];\n}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "4. Upload to Destination",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const { execSync } = require('child_process');\n\nconst dest = $('Webhook').first().json.destination;\nconst cmd = `sshpass -p '${dest.password}' ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ${dest.user}@${dest.host} 'curl -fsSL https://raw.githubusercontent.com/SPeeDoA1/ServerPhoenix/main/ServerPhoenix/restore.sh | sudo bash -s /tmp/full-server-backup.tar.gz ${dest.user}' 2>&1`;\n\ntry {\n  const output = execSync(cmd, { encoding: 'utf8', timeout: 900000 });\n  return [{ json: { success: true, step: 'restore', output } }];\n} catch (error) {\n  return [{ json: { success: false, step: 'restore', error: error.message } }];\n}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "5. Restore Destination",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const { execSync } = require('child_process');\n\nconst dest = $('Webhook').first().json.destination;\nconst cmd = `sshpass -p '${dest.password}' ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ${dest.user}@${dest.host} 'echo \"=== SERVICES ===\" && systemctl list-units --type=service --state=running --no-pager | head -15 && echo \"\" && echo \"=== PORTS ===\" && ss -tlnp | head -10' 2>&1`;\n\ntry {\n  const output = execSync(cmd, { encoding: 'utf8', timeout: 30000 });\n  return [{ json: { success: true, step: 'verify', output } }];\n} catch (error) {\n  return [{ json: { success: false, step: 'verify', error: error.message } }];\n}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "6. Verify Services",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const { execSync } = require('child_process');\n\ntry {\n  execSync('rm -f /tmp/migration-backup-*.tar.gz', { encoding: 'utf8' });\n} catch (e) {}\n\nconst webhook = $('Webhook').first().json;\nconst verify = $('6. Verify Services').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Migration completed successfully!',\n    source: webhook.source.host,\n    destination: webhook.destination.host,\n    services: verify.output || 'Verification completed'\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "7. Cleanup & Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2010, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "1. Scan Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Scan Source": {
      "main": [
        [
          {
            "node": "2. Backup Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Backup Source": {
      "main": [
        [
          {
            "node": "3. Download Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Download Backup": {
      "main": [
        [
          {
            "node": "4. Upload to Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Upload to Destination": {
      "main": [
        [
          {
            "node": "5. Restore Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Restore Destination": {
      "main": [
        [
          {
            "node": "6. Verify Services",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Verify Services": {
      "main": [
        [
          {
            "node": "7. Cleanup & Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Cleanup & Prepare Response": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "instanceId": "serverphoenix-auto"
  },
  "pinData": {}
}
