ServerPhoenix/workflow-dynamic.json
{
  "name": "ServerPhoenix - Dynamic Credentials",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "migrate-server",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "migrate-server"
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\n\nconst source = $input.first().json.source;\nconst cmd = `sshpass -p '${source.password}' ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ${source.user}@${source.host} \"curl -fsSL https://raw.githubusercontent.com/SPeeDoA1/ServerPhoenix/main/ServerPhoenix/scanner.sh | bash -s /tmp/server-inventory.json\"`;\n\ntry {\n  const result = execSync(cmd, { encoding: 'utf-8', timeout: 120000 });\n  return [{ json: { success: true, output: result, ...source } }];\n} catch (e) {\n  return [{ json: { success: false, error: e.message, ...source } }];\n}"
      },
      "id": "scan-source",
      "name": "Scan Source Server",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\n\nconst source = $('Webhook').first().json.source;\nconst cmd = `sshpass -p '${source.password}' ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ${source.user}@${source.host} \"curl -fsSL https://raw.githubusercontent.com/SPeeDoA1/ServerPhoenix/main/ServerPhoenix/backup.sh | bash -s /tmp/server-inventory.json ${source.user}\"`;\n\ntry {\n  const result = execSync(cmd, { encoding: 'utf-8', timeout: 600000 });\n  return [{ json: { success: true, output: result } }];\n} catch (e) {\n  return [{ json: { success: false, error: e.message } }];\n}"
      },
      "id": "backup-source",
      "name": "Backup Source Server",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\n\nconst source = $('Webhook').first().json.source;\nconst dest = $('Webhook').first().json.destination;\n\n// Download from source to n8n server, then upload to destination\nconst cmd1 = `sshpass -p '${source.password}' scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ${source.user}@${source.host}:/tmp/full-server-backup.tar.gz /tmp/phoenix-backup-$$.tar.gz`;\nconst cmd2 = `sshpass -p '${dest.password}' scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null /tmp/phoenix-backup-$$.tar.gz ${dest.user}@${dest.host}:/tmp/full-server-backup.tar.gz`;\nconst cmd3 = `rm -f /tmp/phoenix-backup-$$.tar.gz`;\n\ntry {\n  execSync(cmd1, { encoding: 'utf-8', timeout: 600000 });\n  execSync(cmd2, { encoding: 'utf-8', timeout: 600000 });\n  execSync(cmd3, { encoding: 'utf-8' });\n  return [{ json: { success: true, message: 'Transfer complete' } }];\n} catch (e) {\n  return [{ json: { success: false, error: e.message } }];\n}"
      },
      "id": "transfer-backup",
      "name": "Transfer Backup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\n\nconst dest = $('Webhook').first().json.destination;\nconst cmd = `sshpass -p '${dest.password}' ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ${dest.user}@${dest.host} \"curl -fsSL https://raw.githubusercontent.com/SPeeDoA1/ServerPhoenix/main/ServerPhoenix/restore.sh | sudo bash -s /tmp/full-server-backup.tar.gz ${dest.user}\"`;\n\ntry {\n  const result = execSync(cmd, { encoding: 'utf-8', timeout: 900000 });\n  return [{ json: { success: true, output: result } }];\n} catch (e) {\n  return [{ json: { success: false, error: e.message } }];\n}"
      },
      "id": "restore-dest",
      "name": "Restore to Destination",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\n\nconst dest = $('Webhook').first().json.destination;\nconst cmd = `sshpass -p '${dest.password}' ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ${dest.user}@${dest.host} \"systemctl list-units --type=service --state=running --no-pager | head -20 && echo '' && ss -tlnp | head -15\"`;\n\ntry {\n  const result = execSync(cmd, { encoding: 'utf-8', timeout: 30000 });\n  return [{ json: { success: true, services: result } }];\n} catch (e) {\n  return [{ json: { success: false, error: e.message } }];\n}"
      },
      "id": "verify",
      "name": "Verify Services",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Migration completed!', source: $('Webhook').first().json.source.host, destination: $('Webhook').first().json.destination.host, services: $json.services }) }}"
      },
      "id": "response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1520, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Scan Source Server", "type": "main", "index": 0 }]] },
    "Scan Source Server": { "main": [[{ "node": "Backup Source Server", "type": "main", "index": 0 }]] },
    "Backup Source Server": { "main": [[{ "node": "Transfer Backup", "type": "main", "index": 0 }]] },
    "Transfer Backup": { "main": [[{ "node": "Restore to Destination", "type": "main", "index": 0 }]] },
    "Restore to Destination": { "main": [[{ "node": "Verify Services", "type": "main", "index": 0 }]] },
    "Verify Services": { "main": [[{ "node": "Success Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "meta": {},
  "pinData": {}
}
