ServerPhoenix/workflow-executecommand.json
{
  "name": "ServerPhoenix - Fully Automatic Migration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "migrate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "server-migrate"
    },
    {
      "parameters": {
        "command": "=sshpass -p '{{ $json.source.password }}' ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null {{ $json.source.user }}@{{ $json.source.host }} 'curl -fsSL https://raw.githubusercontent.com/SPeeDoA1/ServerPhoenix/main/ServerPhoenix/scanner.sh | bash -s /tmp/server-inventory.json'"
      },
      "id": "scan-source",
      "name": "1. Scan Source",
      "type": "n8n-nodes-base.executecommand",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "command": "=sshpass -p '{{ $('Webhook').item.json.source.password }}' ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null {{ $('Webhook').item.json.source.user }}@{{ $('Webhook').item.json.source.host }} 'curl -fsSL https://raw.githubusercontent.com/SPeeDoA1/ServerPhoenix/main/ServerPhoenix/backup.sh | bash -s /tmp/server-inventory.json {{ $('Webhook').item.json.source.user }}'"
      },
      "id": "backup-source",
      "name": "2. Backup Source",
      "type": "n8n-nodes-base.executecommand",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "command": "=sshpass -p '{{ $('Webhook').item.json.source.password }}' scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null {{ $('Webhook').item.json.source.user }}@{{ $('Webhook').item.json.source.host }}:/tmp/full-server-backup.tar.gz /tmp/migration-backup-$(date +%s).tar.gz && ls -t /tmp/migration-backup-*.tar.gz | head -1"
      },
      "id": "download-backup",
      "name": "3. Download Backup",
      "type": "n8n-nodes-base.executecommand",
      "typeVersion": 1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "command": "=BACKUP_FILE=$(ls -t /tmp/migration-backup-*.tar.gz 2>/dev/null | head -1) && sshpass -p '{{ $('Webhook').item.json.destination.password }}' scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null \"$BACKUP_FILE\" {{ $('Webhook').item.json.destination.user }}@{{ $('Webhook').item.json.destination.host }}:/tmp/full-server-backup.tar.gz"
      },
      "id": "upload-backup",
      "name": "4. Upload to Destination",
      "type": "n8n-nodes-base.executecommand",
      "typeVersion": 1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "command": "=sshpass -p '{{ $('Webhook').item.json.destination.password }}' ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null {{ $('Webhook').item.json.destination.user }}@{{ $('Webhook').item.json.destination.host }} 'curl -fsSL https://raw.githubusercontent.com/SPeeDoA1/ServerPhoenix/main/ServerPhoenix/restore.sh | sudo bash -s /tmp/full-server-backup.tar.gz {{ $('Webhook').item.json.destination.user }}'"
      },
      "id": "restore-dest",
      "name": "5. Restore Destination",
      "type": "n8n-nodes-base.executecommand",
      "typeVersion": 1,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "command": "=sshpass -p '{{ $('Webhook').item.json.destination.password }}' ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null {{ $('Webhook').item.json.destination.user }}@{{ $('Webhook').item.json.destination.host }} 'echo \"=== SERVICES ===\" && systemctl list-units --type=service --state=running --no-pager | head -15 && echo \"\" && echo \"=== PORTS ===\" && ss -tlnp | head -10'"
      },
      "id": "verify-services",
      "name": "6. Verify Services",
      "type": "n8n-nodes-base.executecommand",
      "typeVersion": 1,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "command": "rm -f /tmp/migration-backup-*.tar.gz 2>/dev/null; echo 'Cleanup complete'"
      },
      "id": "cleanup",
      "name": "7. Cleanup",
      "type": "n8n-nodes-base.executecommand",
      "typeVersion": 1,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const webhook = $('Webhook').first().json;\nconst verify = $('6. Verify Services').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Migration completed successfully!',\n    source: webhook.source.host,\n    destination: webhook.destination.host,\n    services: verify.stdout || 'Verification completed',\n    next_steps: [\n      '1. Update DNS records to point to ' + webhook.destination.host,\n      '2. Run: sudo certbot --nginx',\n      '3. Test your applications'\n    ]\n  }\n}];"
      },
      "id": "prepare-response",
      "name": "8. Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2230, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "1. Scan Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Scan Source": {
      "main": [
        [
          {
            "node": "2. Backup Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Backup Source": {
      "main": [
        [
          {
            "node": "3. Download Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Download Backup": {
      "main": [
        [
          {
            "node": "4. Upload to Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Upload to Destination": {
      "main": [
        [
          {
            "node": "5. Restore Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Restore Destination": {
      "main": [
        [
          {
            "node": "6. Verify Services",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Verify Services": {
      "main": [
        [
          {
            "node": "7. Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Cleanup": {
      "main": [
        [
          {
            "node": "8. Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Prepare Response": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "instanceId": "serverphoenix-executecommand"
  },
  "pinData": {}
}
